*{
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
body{
    background: rgb(219, 220, 221);
    color:rgb(0, 0, 0);
    padding: 0;           
    margin: 0;
} 
h2, h3 {
    text-align: right;
    margin-left: 35%;
    font-weight: normal;
    text-align: center;
}
.l1 {
    font-size: 2.5em;
    margin-top: 125px;   
    top: 0; 
}
h3 {
    font-size: 1.5em;
}
.l2 {
    font-size: 2.0em;
}
.css{
    position: absolute;
    margin-left: 15%;
    width: 50%;
    float: left;
    margin-top: 10px;
    top: 130px;
} 
button {
  margin-top: 8px;
  padding: 10px 14px;
  border: none;
  border-radius: 100px;
  background: #f08ebf;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  position: fixed;        
  top: 50%;            
  left: 0;                
  transform: translateY(-50%); 
}
h2,h3 {
    justify-content: center;
}
.buttonVoltar{
    margin-top: 8px;
    padding: 10px 14px;
    border: none;
    border-radius: 100px;
    background-color: #f08ebf;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
}