body{
    background: rgb(15, 42, 55);
    color:rgb(255, 255, 255);
    padding: 0;           
    margin: 0;
} 
h2, h3 {
    margin-left: 50%;
    font-weight: normal; 
    top: 50%;
    text-align: center; 
    display: flex; 
    display: inline-block;
}

h2 {
    font-size: 3em;   
    margin-left: 56%; 
    margin-top: 300px;

}

h3 {
    font-size: 1.5em;
}
.comp{
    position: absolute;
    margin-left: 20%;
    width: 25%;
    float: left;
    margin-top: 10px;
    top: 150px;
} 
.list{
    padding: 0px ;
    font-size: 150%;
    margin-left: 59%;
}
button {
  margin-top: 8px;
  padding: 10px 14px;
  border: none;
  border-radius: 100px;
  background: #f08ebf;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  position: fixed;        
  top: 50%;            
  left: 0;                
  transform: translateY(-50%); 
}
.buttonVoltar{
    margin-top: 8px;
    padding: 10px 14px;
    border: none;
    border-radius: 100px;
    background-color: #f08ebf;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
}