body {
  background-color: rgb(61, 118, 146);
}

.cod{
  position: relative;  
  width: 600px;
  height: auto;
  align-items: center;
  display: flex;
  margin-left: 675px;
}
h2{
    text-align: center;
    font-size: 50px;
}

button {
  margin-top: 8px;
  padding: 10px 14px;
  border: none;
  border-radius: 100px;
  background: #f08ebf;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  position: fixed;        
  top: 50%;            
  left: 0;                
  transform: translateY(-50%); 
}
.buttonVoltar{
    margin-top: 8px;
    padding: 10px 14px;
    border: none;
    border-radius: 100px;
    background-color: #f08ebf;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
}