body {
    background: rgb(219, 220, 221);
}
.imagem-direita-topo {
 position: absolute; 
    top:250px;            
    right: 0;          
    width: 300px;      
    height: auto;    
    margin-top: 10px;
    margin-right: 10px; 
}

h3{
 font-size: 30px;
  margin-bottom: 30px;
  color: #180812;
}
.main {
  padding: 5px;
  text-align: center;
}

main h2 {
  font-size: 70px;
  margin-bottom: 30px;
  color: #180812;
}
button {
  margin-top: 8px;
  padding: 10px 14px;
  border: none;
  border-radius: 100px;
  background: #f08ebf;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  position: fixed;        
  top: 50%;            
  left: 0;                
  transform: translateY(-50%); 
}


.enfeite{
    position: absolute;
      top:0;     
      right: 0;          
    width: 700px;      
    height: auto;    
    margin-top: 10px;
    margin-right: 10px; 
}    
.enfeite2{

    position: absolute;
    bottom: 0;        
    left: 0;          
    width: 850px;
    height: auto;    
    margin-bottom: 10px;
    margin-left: 10px;
}
.buttonVoltar{
    margin-top: 8px;
    padding: 10px 14px;
    border: none;
    border-radius: 100px;
    background-color: #f08ebf;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
}
.buttonVoltar{
    margin-top: 8px;
    padding: 10px 14px;
    border: none;
    border-radius: 100px;
    background-color: #f08ebf;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
}