*{
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
body{
    background-color:rgb(61, 118, 146) ;
    color:rgb(255, 255, 255);
    padding: 0;           
    margin: 0;
} 
h2, h3 {
    margin-left: 50%;
    font-weight: normal;  /*espessura da fonte*/
    top: 50%;
    text-align: center; 
    display: flex; 
    display: inline-block;
}

h2 {
    font-size: 3em;
    margin-left: 59%;
    margin-top: 350px;
}

h3 {
    font-size: 1.5em;
}
.css{
    position: absolute; 
    margin-left: 20%;
    width: 40%;
    float: left;
    margin-top: 10px;
    top: 130px;
} 
button {
  margin-top: 8px;
  padding: 10px 14px;  /*espaçamento vertical e horizontal*/
  border: none;
  border-radius: 100px;
  background: #f08ebf;
  color: white;
  font-weight: bold;
  cursor: pointer; /*faz o mouse mudar para uma maozinha ao passar sobre elemento clicável*/
  transition: 0.3s;
  position: fixed;        
  top: 50%;            
  left: 0;                
  transform: translateY(-50%); 
}
.buttonVoltar{
    margin-top: 8px;
    padding: 10px 14px;
    border: none;
    border-radius: 100px;
    background-color: #f08ebf;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
}