body {
        background: rgb(15, 42, 55);
}
.imagem-direita-topo {
    position: absolute; 
    top: 150px;            
    right: 0;          
    width: 600px;   
    height: auto;
    object-fit: cover; 
    margin-top: 10px;
    margin-right: 300px; 
}

h4{
 font-size: 30px;
  margin-bottom: 30px;
  color: #180812;
}
h3{
 font-size: 30px;
  margin-bottom: 30px;
  color: #f7f1f1;
}
.main {
  padding: 5px;
  text-align: center;
}

main h2 {
  font-size: 70px;
  
  color: #f8f5f7;
  text-align: center; 
    margin-top: 0; 
    margin-bottom: 20px;
}

body {
    background: rgb(15, 42, 55);
    position: relative; 
    height: 100vh;       
    margin: 0;
}

.secao {
    width: 900px;        
    height: 600px;      
    background-color: rgb(61, 118, 146);
    position: absolute;
    top: 50%;            
    left: 50%;         
    transform: translate(-50%, -50%);
  }
  button {
  margin-top: 8px;
  padding: 10px 14px;
  border: none;
  border-radius: 100px;
  background: #f08ebf;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  position: fixed;        
  top: 50%;            
  left: 0;                
  transform: translateY(-50%); 
}
.buttonVoltar{
    margin-top: 8px;
    padding: 10px 14px;
    border: none;
    border-radius: 100px;
    background-color: #f08ebf;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
}