body{
    background-color: rgb(238, 223, 232);
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: rgb(245, 191, 220);
    padding: 30px;
    
}

footer{
    background-color: rgb(245, 191, 220);
    padding: 30px;
    margin-top: 10%;
    
    
}
.banner {
display: flex;
gap:10px;
width: 300px;
height: 170px;
margin-left: none;
margin-left: 180px;
margin-top: 0%;
}

.container{
    background-color: rgb(253, 253, 253);
    width: 1000px;
    height: 500px;
     border-radius: 12px;
     margin-left: 500px;
     
}

h2{
display: flex;
margin-left: 50px;
margin-top: 100px;
 font-size: 200%;
 
}
h4{
     display: flex;
     margin-left: 50px;
     font-size: large;
     font-size: 150%;
     margin-top: none;
     margin-top:0px;
    
}
.btn-agendar{
    border-radius: 12px;
    color:antiquewhite;
    width: 100px;
    height: 10px;
    margin-left: 100px;
}
h6{
    margin-left: 50px;
     font-size: large;
     font-size: 150%;
     color: brown;
}
h7{
    margin-left: 40%;
    display: flex;
    gap: 100px;
}
.btn{
    display: flex;
    margin-top:50%
}
h5{
    margin-left: 800px;
}
h9{
    display: flex;
    margin-left: 100px;
}

.btn{
 background-color: rgb(250, 215, 248);
width: 100%;
height: 250px;
border-radius: 12px;
}