body{
    background-color: rgb(238, 223, 232);
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: rgb(245, 191, 220);
    padding: 30px;

}
h7{
    margin-left: 40%;
    display: flex;
    gap: 100px;
}
h3{
font-size: larger;
margin-right: 50px;
display: flex;
gap: 100px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 0px;
text-align: center;


}


footer{
    background-color: rgb(245, 191, 220);
    padding: 30px;
    margin-top: 10%;
    
    
}
.banner {
display: flex;
width: 100px;
margin-left: 100px;


}
.container{
    background-color: rgb(253, 253, 253);
    width: 300px;
    height: 250px;
     border-radius: 12px;
     margin-left: 100px;
  
     
}
h2{
margin-left: 120px;
}
h4{
    margin-left: 10px;
   
}
.btn-agendar{
    border-radius: 12px;
    background-color: pink;
    width: 75px;
    height: 30px;
    margin-left: 100px;
    

}
.seccao{
background-color: antiquewhite;
width: 100%;
height: 250px;


}
h5{
    margin-left: 800px;
}
h8{
    margin-left: 50%;
    font-size: 200%;
}
 
.btn{
 background-color: rgb(250, 215, 248);
width: 100%;
height: 250px;
border-radius: 12px;
}